package v1

import (
	hnd "oneaccord.cc/<PROJECT_NAME>/internal/handler"

	"github.com/labstack/echo/v4"
)

func LoadHelloRoutes(router *echo.Group) {
	handler := hnd.NewHandler()

	router.GET("", handler.GetHello)                      // GET / - Get website by user ID (x-user-id header)
}
